<!doctype html>
<h4 class="mobile-show">Credit Tracking</h4>
<p>
  CE Headquarters is designed to automatically record your continuing education credits. This unique system
  allows you convenient access to current medical information while attending to patients and simultaneously,
  your continuing education credit is recorded at the time of inquiry in time granules as small as seconds or
  minutes.
</p>
<p>
  <img class="img-right img-responsive shadow" src="images/examination.jpg"/>
  The site provides access to multiple accredited sources, and allows you to quickly address patient concerns
  with the most up-to-date information. In a matter of minutes, CE Headquarters enables you to provide the best
  medical care for your patients while reducing the administrative burden of tracking continuing education
  credits. The process simply requires that you indicate a request for credit by responding to three short inquiries.
</p>
<p>
  Medical professionals may claim 0.5 <em>AMA PRA Category 1 credit(s)<span class="superscript">TM</span></em> for each search conducted. To
  receive credit,
  CE Headquarters makes it as easy as 1-2-3. At the time of the search simply complete the following questions:
</p>
<ol>
  <li>
    Describe the clinical question
  </li>
  <li>
    Cite the clinical sources
  </li>
  <li>
    Evaluate the application of your research to practice
  </li>
</ol>
<p>
  Not all inquiries must be completed at the time of care. CE Headquarters allows you to save your search and
  return later to complete the questions in order to request credit.
</p>
<h4>Credit Designation</h4>
<p>
  The University of Iowa Carver College of Medicine designates the completion of each CE Headquarters cycle for a
  maximum of 0.5 AMA PRA Category 1 credit(s)<span class="superscript">TM</span>. You may only claim credit commensurate with the extent of your
  participation in the activity.
</p>
<p>
  As specified by the AMA, a maximum 20 credits earned at the point of care can be claimed and attributed to receipt
  of AMA PRA Category 1 credit(s)TM certificates per year. Your credit certificates can be viewed and printed from CE
  Headquarters.
</p>


