<!doctype html>

    <h2>Programs View</h2>

        <div class="center" >
            <spinner name="programsSpinner" img-src="images/spinner.gif" > Loading...</spinner>
        </div>

    <form class="program-form" ng-controller="ViewFormCtrl" ng-init="doInit()">

        <button class="go-to-program-input-button" ng-click="goToProgramInput()" type="submit" >New Program</button>


        <div class="program-list" ng-controller="ViewFormCtrl" ng-init="getDraftPrograms()">
            <h3>Draft Programs</h3>

                <table st-safe-src="draftTablesItems" st-table="displayedDraftCollection" class="table table-striped">
                    <thead>
                        <tr>
                            <th st-sort="name" class="left name">Program Name</th>
                            <th>Last Updated</th>
                        </tr>
                        <tr>
                            <th>
                                <input st-search="name" placeholder="search for Draft" class="input-sm form-control" type="search"/>
                            </th>
                            <th>
                                <input st-search="lastUpdated" placeholder="date" class="input-sm form-control" type="search"/>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in displayedDraftCollection" >
                        <td class="left name">{{row.name}}</td>
                        <td>{{row.lastUpdated}}</td>
                        <td>
                            <button ng-click="goToProgramInput(row)" >Edit</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

        </div>

        <div class="program-list" ng-controller="ViewFormCtrl" ng-init="getSubmittedPrograms()">
            <h3>Submitted Programs</h3>
            <table st-safe-src="submittedTablesItems" st-table="displayedSubmittedCollection" class="table table-striped">
                <thead>
                <tr>
                    <th st-sort="name">Program Name</th>
                    <th>Last Updated</th>
                </tr>
                <tr>
                    <th>
                        <input st-search="name" placeholder="search for program" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="lastUpdated" placeholder="date" class="input-sm form-control" type="search"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in displayedSubmittedCollection" >
                    <td class="left name">{{row.name}}</td>
                    <td>{{row.lastUpdated}}</td>
                    <td>
                        <button ng-click="goToProgramInput(row)" >Edit</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="program-list" ng-controller="ViewFormCtrl" ng-init="getReviewedPrograms()">
            <h3>Reviewed Programs</h3>
            <table st-safe-src="reviewedTablesItems" st-table="displayedReviewedCollection" class="table table-striped">
                <thead>
                <tr>
                    <th st-sort="name">Program Name</th>
                    <th>Last Updated</th>
                </tr>
                <tr>
                    <th>
                        <input st-search="name" placeholder="search for program" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="lastUpdated" placeholder="date" class="input-sm form-control" type="search"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in displayedReviewedCollection" >
                    <td class="left name">{{row.name}}</td>
                    <td>{{row.lastUpdated}}</td>
                    <td>
                        <button ng-click="goToProgramInput(row)" >Edit</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="program-list" ng-controller="ViewFormCtrl" ng-init="getAcceptedPrograms()">
            <h3>Accepted Programs</h3>
            <table st-safe-src="acceptedTablesItems" st-table="displayedAcceptedCollection" class="table table-striped">
                <thead>
                <tr>
                    <th st-sort="name">Program Name</th>
                    <th>Last Updated</th>
                </tr>
                <tr>
                    <th>
                        <input st-search="name" placeholder="search for program" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="lastUpdated" placeholder="date" class="input-sm form-control" type="search"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in displayedAcceptedCollection" >
                    <td class="left name">{{row.name}}</td>
                    <td>{{row.lastUpdated}}</td>
                    <td>
                        <button ng-click="goToProgramInput(row)" >View</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </form>



