<!doctype html>

    <h2>Program Input Form</h2>

    <form name="program-input-form" class="program-form" ng-controller="InputFormCtrl">

        <div>
            <button class="back-button" ng-click="goToProgramView('/programview')" type="Button">back</button>
            <span class="program-status {{program.program_status}}">{{program.program_status}}</span>
            <button class="clear-button" ng-click="clearForm()" type="Button">clear</button>
        </div>

        <div>
            <h4 class="program-name-input-field">Program Name:</h4>
            <input class="default-input-field" type="text" id="programNameInputBox" ng-model="program.name" />
        </div>

        <div>
            <h4>Objectives:</h4>
            <!-- <input class="default-input-field" type="text" id="" ng-model="" />-->
            <ul class="list-unstyled">
                <li ng-repeat="objItem in program.objectives track by $index">
                    <input class="default-input-field"
                           ng-value="{{objItem.objective}}"
                           value="{{objItem.objective}}"
                           ng-model="program.objectives[$index].objective" />
                </li>
            </ul>

        </div>

        <div id="program-keywords">
            <h4>Keywords (separated by commas):</h4>
            <input class="default-input-field" type="text" ng-model="program.keywords" />
            <div class="total count">Total Keywords: <span ng-bind="keywordCount(program.keywords)"></span></div>
        </div>

        <div>
            <h4>Goal:</h4>
            <textarea rows="4" class="default-input-field" id="" ng-model="program.goal"> </textarea>
        </div>

        <accordion close-others="true" >
            <accordion-group  is-open="false"
                              ng-repeat="activity in program['learning-activities'] track by $index"
                              >
                <accordion-heading>
                    {{activity.name}}
                </accordion-heading>

                <div>
                    <h5>Learning Assignment Name:</h5>
                    <input class="default-input-field" type="text" ng-model="program['learning-activities'][$index].name" ng-value="{{activity.name}}" />
                </div>

                <div>
                    <h5>Learning Assignment URL:</h5>
                    <input class="default-input-field" type="text" ng-model="program['learning-activities'][$index].url" ng-value="{{activity.url}}"  />
                </div>

                <div>
                    <h5>Learning Assignment Question:</h5>
                    <textarea rows="3" class="question-input-field"
                              ng-init=""
                              ng-model="program['learning-activities'][$index]['review-question'].stem"
                              ng-value="{{program['learning-activities'][$index]['review-question'].stem}}"> </textarea>
                    <p class="chars-remain" ng-show="program['learning-activities'][$index]['review-question'].stem.length <= 128">{{128 - program['learning-activities'][$index]['review-question'].stem.length}} chars remaining</p>
                    <p class="over-char-limit" ng-show="program['learning-activities'][$index]['review-question'].stem.length > 128">{{128 - program['learning-activities'][$index]['review-question'].stem.length}} over the limit</p>
                </div>

                <div id="question-type-section" ng-init="qType[{{$index}}]='choice'" >
                    <h5>Question Type</h5>
                    <div class="question-type">
                        <div class="left"><input type="radio" name="qType[{{$index}}]" ng-model="program['learning-activities'][$index]['review-question'].type"
                               value="choice" >Multiple Choice</input></div>
                        <div class="left"><input type="radio" name="qType[{{$index}}]" ng-model="program['learning-activities'][$index]['review-question'].type"
                               value="tf" >True/False</input></div>
                    </div>
                </div>

                <div class="answer-area" ng-show="program['learning-activities'][$index]['review-question'].type == 'choice'">

                    <div>
                        <span><p>Choice #1 <span ng-show="program['learning-activities'][$index]['review-question'].answer == 1" class="right-answer">(correct)</span></p>
                            <input type="radio" name="isAnswer" ng-model="program['learning-activities'][$index]['review-question'].answer" ng-value="1" />
                            <input class="default-input-field" type="text"
                                   ng-model="program['learning-activities'][$index]['review-question'].choices[0].text"
                                   ng-value="{{program['learning-activities'][$index]['review-question'].choices[0]}}"/></span>
                        <span><p>Choice #2 <span ng-show="program['learning-activities'][$index]['review-question'].answer == 2" class="right-answer">(correct)</span></p>
                            <input type="radio" name="isAnswer" ng-model="program['learning-activities'][$index]['review-question'].answer" ng-value="2"/>
                            <input class="default-input-field" type="text"
                                   ng-model="program['learning-activities'][$index]['review-question'].choices[1].text"
                                   ng-value="{{program['learning-activities'][$index]['review-question'].choices[1]}}"/></span>
                    </div>
                    <div>
                        <span><p>Choice #3 <span ng-show="program['learning-activities'][$index]['review-question'].answer == 3" class="right-answer">(correct)</span></p>
                            <input type="radio" name="isAnswer"
                                   ng-model="program['learning-activities'][$index]['review-question'].answer" ng-value="3" />

                            <input class="default-input-field" type="text"
                                   ng-model="program['learning-activities'][$index]['review-question'].choices[2].text"/></span>

                        <span><p>Choice #4 <span ng-show="program['learning-activities'][$index]['review-question'].answer == 4" class="right-answer">(correct)</span></p>
                            <input type="radio" name="isAnswer" ng-model="program['learning-activities'][$index]['review-question'].answer" ng-value="4" />
                            <input class="default-input-field" type="text"
                                   ng-model="program['learning-activities'][$index]['review-question'].choices[3].text"
                                   ng-value="{{activity.url}}"/></span>
                    </div>

                    <div>Select the correct answer with the radio button on the left</div>
                </div>
                <div class="answer-area" ng-show="program['learning-activities'][$index]['review-question'].type == 'tf'">
                    <div>Select the correct answer</div>
                    <div>
                        <span>
                            <input type="radio" name="tfIsAnswer[{{$index}}]"
                                   ng-model="program['learning-activities'][$index]['review-question'].answer" value="true">True</input>
                            <input type="radio" name="tfIsAnswer[{{$index}}]"
                                   ng-model="program['learning-activities'][$index]['review-question'].answer" value="false">False</input>
                        </span>
                    </div>


                </div>
            </accordion-group>
        </accordion>

        <button ng-show="program.program_status == 'draft'" class="program-button delete-program-button" ng-click="deleteDraft()" ng-controller="InputFormCtrl" type="submit" >Delete Draft</button>
        <button ng-show="program.program_status == 'draft'" class="program-button draft-program-button" ng-click="saveDraft()" ng-controller="InputFormCtrl" type="submit" >Save Draft</button>
        <button ng-show="program.program_status == 'draft'" class="program-button submit-program-button" ng-click="submitDraft()" ng-controller="InputFormCtrl" type="submit" >Submit Program</button>
        <button ng-show="program.program_status == 'submitted'" class="program-button send-program-button" ng-click="acceptProgram()" ng-controller="InputFormCtrl" type="submit" >Accept Program</button>

        <div>
            <button class="back-button" ng-click="goToProgramView('/programview')" type="Button">back</button>
            <span class="program-status {{program.program_status}}">{{program.program_status}}</span>
            <button class="clear-button" ng-click="clearForm()" type="Button">clear</button>
        </div>
    </form>
