<!doctype html>

    <h2>Program Input Form</h2>
    <div class="center" >
        <spinner name="programSpinner" img-src="images/spinner.gif" > Loading...</spinner>
    </div>

    <form name="program-input-form" class="program-form" ng-controller="InputFormCtrl" ng-init="doInit()">

        <div>
            <button class="back-button" ng-click="goToProgramView('/programview')" type="Button">back</button>
            <span class="program-status">
                <span class="program-status {{program['status'].status}}">{{program['status'].status}}</span>
            </span>
            <button class="clear-button" ng-click="clearForm()" type="Button">clear</button>
            <div ng-show="program.approver_name">Approver: {{program.approver_name}}</div>
        </div>

        <div>
            <h3 class="program-name-input-field">Program Name:</h3>
            <input class="default-input-field" type="text" id="programNameInputBox" ng-model="program.name" />
        </div>

        <div>
            <div>
            <h4 class="program-short-name-input-field">Program Short Name:</h4>
            <input class="default-input-field" type="text" id="programShortNameInputBox" ng-model="program.shortName" />
            </div>
            <div class="default-input-field">
                <span class="hint left float-left">Displayed in the mobile app</span>

                <span class="chars-remain text-right float-right" ng-show="program.shortName.length <= 64">{{64 - program.shortName.length}} chars remaining</span>
                <span class="over-char-limit text-right float-right" ng-show="program.shortName.length > 64">{{64 - program.shortName.length}} over the limit</span>
            </div>
        </div>
        <div class="objectives">
            <h4>Objectives:</h4>
            <!-- <input class="default-input-field" type="text" id="" ng-model="" />-->
            <ul class="list-unstyled">
                <li ng-repeat="objItem in program.objectives track by $index">
                    <textarea rows="2" class="default-input-field"
                              ng-value="{{objItem.objective}}"
                              value="{{objItem.objective}}"
                           ng-model="program.objectives[$index].objective" > </textarea>
                    <br/>
                    <div class="default-input-field hint">
                        <span class="chars-remain text-right float-right" ng-show="program.objectives[$index].objective.length <= 100">{{100 - program.objectives[$index].objective.length}} chars remaining</span>
                        <span class="over-char-limit text-right float-right" ng-show="program.objectives[$index].objective.length > 100">{{100 - program.objectives[$index].objective.length}} over the limit</span>
                    </div>
                </li>

            </ul>

        </div>

        <div id="program-keywords">
            <h4>Keywords (separated by commas):</h4>
            <input class="default-input-field" type="text" ng-model="program.keywords" />
            <div class="total count">Total Keywords: <span ng-bind="keywordCount(program.keywords)"></span></div>
        </div>

        <div>
            <h4>Goal:</h4>
            <textarea rows="4" class="default-input-field" id="" ng-model="program.goal"> </textarea>
        </div>

        <accordion close-others="true" >
            <accordion-group  is-open="false"
                              ng-repeat="activity in program['learningActivities'] track by $index"
                              >
                <accordion-heading class="activity-name">
                    {{activity.name}}
                </accordion-heading>

                <div>
                    <h5>Learning Assignment Name:</h5>
                    <input class="default-input-field" type="text" ng-model="program['learningActivities'][$index].name" ng-value="{{activity.name}}" />
                </div>

                <div>
                    <h5>Learning Assignment URL:</h5>
                    <input class="default-input-field" type="text" ng-model="program['learningActivities'][$index].url" ng-value="{{activity.url}}"  />
                </div>

                <div>
                    <h5>Learning Assignment Question:</h5>
                    <textarea rows="3" class="question-input-field"
                              ng-init=""
                              ng-model="program['learningActivities'][$index]['questions'][0].question"
                              ng-value="{{program['learningActivities'][$index]['questions'][0].question}}"> </textarea>
                    <p class="chars-remain" ng-show="program['learningActivities'][$index]['questions'][0].question.length <= 170">{{170 - program['learningActivities'][$index]['questions'][0].question.length}} chars remaining</p>
                    <p class="over-char-limit" ng-show="program['learningActivities'][$index]['questions'][0].question.length > 170">{{170 - program['learningActivities'][$index]['questions'][0].question.length}} over the limit</p>
                </div>

                <div id="question-type-section" ng-init="qType[{{$index}}]='choice'" >
                    <h5>Question Type</h5>
                    <div class="question-type">
                        <div class="left"><input type="radio" name="qType[{{$index}}]" ng-model="program['learningActivities'][$index]['questions'][0]['questionType']['type']"
                               value="1" >Multiple Choice</input></div>
                        <div class="left"><input type="radio" name="qType[{{$index}}]" ng-model="program['learningActivities'][$index]['questions'][0]['questionType']['type']"
                               value="2" >True/False</input></div>
                    </div>
                </div>

                <div class="answer-area" ng-show="program['learningActivities'][$index]['questions'][0]['questionType']['type'] == '1'">

                    <div>
                        <span><p>Choice #1 <span ng-show="program['learningActivities'][$index]['questions'][0].answer == 0" class="right-answer">(correct)</span></p>
                            <input type="radio"
                                   ng-model="program['learningActivities'][$index]['questions'][0].answer" value="0"/>

                            <input class="default-input-field" type="text"
                                   ng-model="program['learningActivities'][$index]['questions'][0]['questionChoices'][0].choice"
                                   ng-value="{{program['learningActivities'][$index]['questions'].choices[0]}}"/></span>
                        <span><p>Choice #2 <span ng-show="program['learningActivities'][$index]['questions'][0].answer == 1" class="right-answer">(correct)</span></p>
                            <input type="radio"
                                   ng-model="program['learningActivities'][$index]['questions'][0].answer" value="1"/>

                            <input class="default-input-field" type="text"
                                   ng-model="program['learningActivities'][$index]['questions'][0]['questionChoices'][1].choice"
                                   ng-value="{{program['learningActivities'][$index]['questions'].choices[1]}}"/></span>

                        <span><p>Choice #3 <span ng-show="program['learningActivities'][$index]['questions'][0].answer == 2" class="right-answer">(correct)</span></p>
                            <input type="radio"
                                   ng-model="program['learningActivities'][$index]['questions'][0].answer" value="2" />

                            <input class="default-input-field" type="text"
                                   ng-model="program['learningActivities'][$index]['questions'][0]['questionChoices'][2].choice"/></span>

                        <span><p>Choice #4 <span ng-show="program['learningActivities'][$index]['questions'][0].answer == 3" class="right-answer">(correct)</span></p>
                            <input type="radio"
                                   ng-model="program['learningActivities'][$index]['questions'][0].answer" value="3"/>

                            <input class="default-input-field" type="text"
                                   ng-model="program['learningActivities'][$index]['questions'][0]['questionChoices'][3].choice"/></span>
                        <span><p>Choice #5 <span ng-show="program['learningActivities'][$index]['questions'][0].answer == 4" class="right-answer">(correct)</span></p>
                            <input type="radio"
                                   ng-model="program['learningActivities'][$index]['questions'][0].answer" value="4"/>

                            <input class="default-input-field" type="text"
                                   ng-model="program['learningActivities'][$index]['questions'][0]['questionChoices'][4].choice"/></span>

                        <span><p>Choice #6 <span ng-show="program['learningActivities'][$index]['questions'][0].answer == 5" class="right-answer">(correct)</span></p>
                            <input type="radio"
                                   ng-model="program['learningActivities'][$index]['questions'][0].answer" value="5"/>

                            <input class="default-input-field" type="text"
                                   ng-model="program['learningActivities'][$index]['questions'][0]['questionChoices'][5].choice"/></span>
                    </div>

                    <div class="hint">Select the correct answer with the radio button on the left</div>
                </div>
                <div class="answer-area" ng-show="program['learningActivities'][$index]['questions'][0]['questionType']['type'] == '2'">
                    <div>Select the correct answer</div>
                    <div>
                        <span>
                            <input type="radio" name="tfIsAnswer[{{$index}}]"
                                   ng-model="program['learningActivities'][$index]['questions'][0]['tf']" value="1">True</input>
                            <input type="radio" name="tfIsAnswer[{{$index}}]"
                                   ng-model="program['learningActivities'][$index]['questions'][0]['tf']" value="0">False</input>
                        </span>
                    </div>


                </div>
            </accordion-group>
        </accordion>

        <button ng-show="program['status'].status == 'draft'" class="program-button delete-program-button" ng-click="cehqModal('deleteDraft')" ng-controller="InputFormCtrl" type="submit" >Delete Draft</button>
        <button ng-show="program['status'].status == 'draft'" class="program-button draft-program-button" ng-click="cehqModal('saveDraft')" ng-controller="InputFormCtrl" type="submit" >Save Draft</button>
        <button ng-show="program['status'].status == 'draft'" class="program-button submit-program-button" ng-click="cehqModal('submitDraft')" ng-controller="InputFormCtrl" type="submit" >Submit Program</button>
        <button ng-show="program['status'].status == 'submitted'" class="program-button send-program-button" ng-click="cehqModal('acceptProgram')" ng-controller="InputFormCtrl" type="submit" >Accept Program</button>
        <button ng-show="program['status'].status == 'accepted'" class="program-button send-program-button" ng-click="cehqModal('unpublishProgram')" ng-controller="InputFormCtrl" type="submit" >Unpublish</button>

        <div>
            <button class="back-button" ng-click="goToProgramView('/programview')" type="Button">back</button>
            <span class="program-status {{program['status'].status}}">{{program['status'].status}}</span>
            <button class="clear-button" ng-click="clearForm()" type="Button">clear</button>
        </div>
    </form>
