<div class="modal-header">
    <h3 class="modal-title">Save Draft?</h3></div>
<div>
    <br/>
    Save what you have entered so you can continue work at a later time?
    <br/>
</div>
   <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="saveDraftOk(false)">OK</button>
       <!--<button class="btn btn-primary" type="button" ng-click="saveDraftOk(true)">Save and Continue...</button>-->
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
