<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="stylesheet" href="lib/css/bootstrap.min.css">
  <link rel="stylesheet" href="lib/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/cehq.css">

  <link rel="shortcut icon" href="images/cehq-icons/cehq-icon.ico"/>

  <link rel="apple-touch-icon" sizes="57x57"   href="images/cehq-icons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60"   href="images/cehq-icons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72"   href="images/cehq-icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76"   href="images/cehq-icons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/cehq-icons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/cehq-icons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/cehq-icons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/cehq-icons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/cehq-icons/apple-touch-icon-180x180.png">

  <link rel="icon" sizes="16x16" type="image/png" href="images/cehq-icons/favicon-16x16.png">
  <link rel="icon" sizes="32x32" type="image/png" href="images/cehq-icons/favicon-32x32.png">
  <link rel="icon" sizes="96x96" type="image/png" href="images/cehq-icons/favicon-96x96.png">

  <link rel="icon" sizes="192x192" type="image/png" href="images/cehq-icons/android-chrome-192x192.png">

  <title>myCEHQ</title>
    <!-- angularjs js -->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-resource.min.js"></script>
    <script src="lib/angular/angular-sanitize.min.js"></script>
    <script src="lib/angular-ui/angular-ui-router.min.js"></script>

  <!--<script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.js"></script>
  -->

  <script src="lib/ui-bootstrap-tpls.min.js"></script>
  <script src="lib/smart-table.min.js"></script>

  <script src="lib/angular-spinners.min.js"></script>

  <script src="scripts/base.js"></script>
  <script src="scripts/factories.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers.js"></script>
  <script src="scripts/constants.js"></script>
  <script src="scripts/services.js"></script>

</head>

<body ng-app="cehqApp" ng-controller="NavBarCtrl" ng-init="checkAuth()">

    <a ng-hide="isAuth()" href="#/mainMenuItems[0].page" ng-click="toggleMenu(mainMenuItems[0].page)">
      <img class="logo desktop-show menu-link" src="images/cehq-logo-transparent.png">
    </a>

    <nav class="navbar navbar-default">

      <div class="container-fluid">

        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" ng-click="toggleMenu()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a href="#/mainMenuItems[0].page" ng-click="toggleMenu(mainMenuItems[0].page)">
            <img src="images/cehq-logo-transparent-small.png"
                 class="menu-link navbar-brand img-small nav-logo navbar-toggle collapsed">
          </a>

        </div>

        <div class="collapse navbar-collapse" collapse="isCollapsed">

          <ul class="nav navbar-nav navbar-left" ng-show="isAuth()">
            <li class="menu-link">
                <a href="#/programview">Program Management</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="menu-link" ng-hide="isAuth()">
              <a href="#/login">Login</a>
            </li>
              <li class="menu-link" ng-show="isAuth()">
                  <a ng-click="logout()">Logout</a>
              </li>
          </ul>

        </div>

      </div>

    </nav>

    <article class="main-article">

      <div ui-view></div>

    </article>

    <ng-include ng-hide="isAuth()" src="'views/footer.html'"/>


</body>
</html>
