<!doctype html>
<!--<h4 class="mobile-show">Accreditation</h4>-->
<img class="img-centered img-responsive" src="images/uofi.gif"/>
<br>
<p>
  This activity has been planned and implemented in accordance with the Essential Areas and policies of the
  Accreditation Council for Continuing Medical Education (ACCME) through the joint sponsorship of University
  of Iowa Carver College of Medicine and Genova Technologies. The College of Medicine is accredited by the
  ACCME to provide continuing medical education for physicians.
</p>
<p>
  The nation-wide ACCME accreditation in combination with the joint patent held by Genova Technologies and
  the University of Iowa Research Foundation make CE Headquarters the only site that allows you access to any
  accredited medical source while simultaneously tracking your <em>AMA PRA Category 1 credit(s)
  <span class="superscript">TM</span></em> continuing education credits.
</p>
