<!doctype html>

<!-- desktop footer -->
<footer class="desktop-show">
  <table class="full-width">
    <tr>

      <td class="footer-left">
        <img class="img-responsive" src="images/genova-ui.png">
      </td>

      <td class="footer-center">
        For questions, email us at <a href="mailto:info@ceheadquarters.com">info@ceheadquarters.com</a>.
        <br>
        <a href="#">Terms of Agreement</a> | <a href="#">Privacy Policy</a>
        <br>
        Copyright &copy; 2007-2015 Genova Technologies
        <br>
        All Rights Reserved
      </td>

      <td class="footer-right">
        System requirements:<br>
        <a href="#">Microsoft Internet Explorer Version 7 or later</a><br>
        <a href="#">Microsoft .NET Framework Version 2.0 or later</a><br>
        <a href="#">Firefox .NET Add-on</a><br>
        <a href="#">Chrome .NET Add-on</a><br>
        <a href="#">Adobe Reader</a>
      </td>

    </tr>
  </table>
</footer>

<!-- mobile footer -->
<footer class="mobile-show footer-center">
  <img class="img-responsive img-centered" src="images/genova-ui.png">
  <div class="full-width small-copyright">
    <a href="#">Terms of Agreement</a> | <a href="#">Privacy Policy</a>
    <br>
    Copyright &copy; 2007-2015 Genova Technologies
    <br>
    All Rights Reserved
  </div>
</footer>
