<!doctype html>
<img class="img-centered img-responsive" src="images/homeimage.jpg"/>

<h4>Welcome to CE Headquarters!</h4>

<p>
  CE Headquarters is the only system authorized to offer you access to multiple approved medical resources,
  and earn <em>AMA PRA Category 1 credit(s)<span class="superscript">TM</span></em> at the point of care. This system is the result of the
  patented
  process developed by Genova Technologies and University of Iowa Research Foundation to offer the ability
  to earn continuing education credits for research already performed at the point of care.
</p>
</div>
