<!doctype html>
<h4 class="mobile-show">Point of Care</h4>
<p>
  <img class="img-right img-responsive shadow" src="images/threedoctors.jpg"/>
  During the average day medical professionals field around 25 clinical questions; generally, only a small percentage
  are ever pursued and even less are ever answered. With mounting medical research and rapidly growing discoveries,
  it has become increasingly difficult for medical professionals to retain all pertinent information in their heads.
  In addition, the rate of changing medical information causes much acquired information to quickly become obsolete.
</p>
<p>
  <img class="img-left img-responsive shadow" src="images/girlpatient.jpg"/>
  CE Headquarters is designed to mirror the education style that many medical schools are adopting. Rather than
  concentrating on stark memorization, schools are incorporating information technology as a focus in their teaching
  curriculums. The goal is to shape medical professionals who are managers of information storehouses rather than
  storehouses of manageable information. This recent change in medical practice is a way to take advantage of the
  massive amounts of global medical knowledge.
</p>
<p>
  CE Headquarters joins this information technology movement by training you to recognize when you need more
  information and putting that information at your fingertips. The CE Headquarters system allows you easy access
  to the answers you seek, and makes it possible for the transaction to take place in only 2-3 minutes. At this
  rate, the time that is precious to you is preserved and the quality of care that your patients receive is improved.
</p>
<p>
  CE Headquarters will track the research you undertake during the day giving you the ability to review the
  information at a later time and apply for <em>AMA PRA Category 1 credit(s)<span class="superscript">TM</span></em>
  when it is convenient for you to do so. CE Headquarters enables you to shift your focus back to the very reason you
  became a doctor, your patients.
</p>