
    <h2>Program Management</h2>

        <div class="center" >
            <spinner name="programsSpinner" img-src="images/spinner.gif" > Loading...</spinner>
        </div>

    <form class="program-form" ng-controller="ViewFormCtrl" ng-init="doInit()">

        <button class="go-to-program-input-button" ng-click="goToProgramInput()" type="submit" >Begin New Program</button>


        <div class="program-list" >

                <table st-safe-src="draftTablesItems" st-table="displayedDraftCollection" class="table table-striped">
                    <thead>
                        <tr>
                            <th class="status">Status</th>
                            <th st-sort="name" class="left name">Program Name</th>
                            <th class="last-updated">Last Updated</th>
                        </tr>
                        <tr>
                            <th class="status">
                                <select st-search="status" class="input-sm form-control" type="search" st-input-event="change">
                                    <option value="" ></option>
                                    <option value="draft">draft</option>
                                    <option value="submitted">submitted</option>
                                    <option value="reviewed">reviewed</option>
                                    <option value="accepted">accepted</option>
                                </select>
                            </th>
                            <th>
                                <input st-search="name" placeholder="search by Program name" class="input-sm form-control" type="search"/>
                            </th>
                            <th class="last-updated">
                                <input st-search="lastUpdated" placeholder="date YYYY-MM-DD" class="input-sm form-control" type="search"/>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in displayedDraftCollection" >
                        <td class="status program-status-view {{row.status}}">{{row.status}}</td>
                        <td class="left name">{{row.name}}</td>
                        <td class="last-updated">{{row.lastUpdated}}</td>
                        <td>
                            <button ng-show="row.status == 'draft'" ng-click="goToProgramInput(row)" >Edit</button>
                            <button ng-show="row.status != 'draft'" ng-click="goToProgramInput(row)" >View</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

        </div>

        <!--<div class="program-list" >
            <h3>Submitted Programs</h3>
            <table st-safe-src="submittedTablesItems" st-table="displayedSubmittedCollection" class="table table-striped">
                <thead>
                <tr>
                    <th st-sort="name">Program Name</th>
                    <th>Last Updated</th>
                </tr>
                <tr>
                    <th>
                        <input st-search="name" placeholder="search for program" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="lastUpdated" placeholder="date" class="input-sm form-control" type="search"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in displayedSubmittedCollection" >
                    <td class="left name">{{row.name}}</td>
                    <td>{{row.lastUpdated}}</td>
                    <td>
                        <button ng-click="goToProgramInput(row)" >Edit</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="program-list" >
            <h3>Reviewed Programs</h3>
            <table st-safe-src="reviewedTablesItems" st-table="displayedReviewedCollection" class="table table-striped">
                <thead>
                <tr>
                    <th st-sort="name">Program Name</th>
                    <th>Last Updated</th>
                </tr>
                <tr>
                    <th>
                        <input st-search="name" placeholder="search for program" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="lastUpdated" placeholder="date" class="input-sm form-control" type="search"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in displayedReviewedCollection" >
                    <td class="left name">{{row.name}}</td>
                    <td>{{row.lastUpdated}}</td>
                    <td>
                        <button ng-click="goToProgramInput(row)" >Edit</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="program-list" >
            <h3>Accepted Programs</h3>
            <table st-safe-src="acceptedTablesItems" st-table="displayedAcceptedCollection" class="table table-striped">
                <thead>
                <tr>
                    <th st-sort="name">Program Name</th>
                    <th>Last Updated</th>
                </tr>
                <tr>
                    <th>
                        <input st-search="name" placeholder="search for program" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="lastUpdated" placeholder="date" class="input-sm form-control" type="search"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in displayedAcceptedCollection" >
                    <td class="left name">{{row.name}}</td>
                    <td>{{row.lastUpdated}}</td>
                    <td>
                        <button ng-click="goToProgramInput(row)" >View</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>-->

    </form>

