<div class="modal-header">
    <h3 class="modal-title">Delete Draft?</h3>
</div>
<div>
    The Program and Objectives will be deleted from the database. If you have created any Learning Activities, they will be kept for later use.
</div>

   <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="deleteDraftOk()">OK</button>
       <!--<button class="btn btn-primary" type="button" ng-click="saveDraftOk(true)">Save and Continue...</button>-->
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
